netconf:
  hosts:
    fedora:
      ansible_host: ${host}
      ansible_connection: ansible.netcommon.netconf
      ansible_user: ${user}
      ansible_private_key_file: ${key_file}
      ansible_host_key_checking: false
